body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, hsl(0, 100%, 70%), hsl(240, 100%, 70%));
  font-family: serif;
}

.card {
  background-color: hsla(0, 50%, 100%, 0.5);
  padding: 32px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
}

